.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x:hidden ;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
}

.navbarLogo h2 {
  margin: 0;
}

.navbarButtons button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.navbarButtons button:hover {
  background-color: lightblue;
}

.navButton {
    all: revert;
}

.Logo {
    all: revert;
}

.body {
  flex: 1;
  text-align: center;
  margin: 20px;
}

.searchRow {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;

}

.searchInput {
    all: revert;
}


.filterButton,
.searchButton {
  padding: 5px 10px;
  cursor: pointer;
  all: revert;
}

.imagePlaceholder img {
  width: 40%;
  height: auto;
}

.medicineList {
  text-align: left;
  margin-top: 20px;
}

.medicineItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
}

.medicineBtn {
    all: revert;
    padding: 20px;
}

.medicineItem button:hover {
  background-color: lightgreen;
}

.footer {
  all: revert;
  padding: 35px 10px;
  background-color: #333;
  color: white;
  text-align: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.filterOptions {
  position: absolute; /* Position it absolutely */
  top: 100px; /* Adjust this value to position it right below the filter button */
  left: 46%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  z-index: 1000; /* Ensure it appears above other elements */
}

.filterOption {
  background: none;
  border: none;
  color: #333;
  padding: 5px;
  text-align: left;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s;
}

.filterOption:hover {
  background-color: lightgreen;
}

.noMedicineFound {
  text-align: center;
  font-size: 1.5rem;
  color: #555;
  margin-top: 20px;
  padding: 20px;
  font-weight: bold;
}