@font-face {
    font-family: 'Coolvetica Rg';
    src: url('/fonts/CoolveticaRg-Regular.woff2') format('woff2'),
        url('/fonts/CoolveticaRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coolvetica Condensed Rg';
    src: url('CoolveticaCondensedRg-Regular.woff2') format('woff2'),
        url('CoolveticaCondensedRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.strong {
    font-weight: 800;
}


.container {
    min-height: 100vh;
    position: relative;
    /* color: #212529; */
    color: rgb(255, 247, 247);

    font-size: 1.5rem;
}

.banner {
    position: absolute;
    top: 0;
    background-image: url(/images/Banner5.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

    width: 100%;
    height: 60vh;
    background-color: #0395D3;
    z-index: -1;

}

.spacer {
    height: 60vh;
}



.bannerInfo {
    position: absolute;
    left: 10%;
    top: 30%;


}

.bannerText {
    font-size: 1.5vw;

}

.bannerTitle{
    font-size: 3vw;
    text-shadow: 2px 2px black;
}

.header {
    font-size: 2em;
    font-family: 'Coolvetica Rg';
    padding: 0;

}


.name {
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
}

.navList {
    font-family: 'Coolvetica Condensed Rg';
    font-size: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;


}

.navList a {
    cursor: pointer;
}

.services {
    text-align: center;
    font-family: 'Coolvetica Rg';
    font-weight: 500;
    color: black;
    font-size: 2.3rem;
    /* background-color: #f5f5f5; */

    /* border: 2px solid red; */
}

.serviceDiv {
    height: 20%;
    display: flex;
    margin-top: 10px;

    justify-content: space-around;
    padding: 4% 0;
    background-color: #f5f5f5;
}

.about {
    margin-top: 10px;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;

    text-align: justify;
    text-justify: inter-word;

    font-family: 'Coolvetica Rg';
    padding: 0 5%;

}

.aboutInfo {
    flex: 1;
    /* border: 2px solid red; */

    font-family: 'Coolvetica Condensed Rg';

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aboutHeading {
    text-align: center;
    font-family: 'Coolvetica Rg';
    font-size: 2.3em;
}

